Repository cocoon-hub/timinggame-api, pull requests merged in 2025-06, with the labels that each got.

#8 feat: spotless 의존성을 추가한다
  HELP.md
  build.gradle
  src/main/java/org/timinggame/api/ApiApplication.java
  src/test/java/org/timinggame/api/ApiApplicationTests.java
Labels: feature, docs, release

#9 feat: 게임을 시작하면 방 상태를 진행중으로 변경한다
  build.gradle
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/controller/response/CreateRoomRes.java
  src/main/java/org/timinggame/api/room/domain/Room.java
  src/main/java/org/timinggame/api/room/domain/RoomStatus.java
  src/main/java/org/timinggame/api/room/exception/NoRoomException.java
  src/main/java/org/timinggame/api/room/repository/RoomRepository.java
  src/main/java/org/timinggame/api/room/repository/impl/RoomRepositoryV1.java
  src/main/java/org/timinggame/api/room/service/RoomService.java
  src/main/java/org/timinggame/api/room/service/impl/RoomServiceV1.java
  src/test/java/org/timinggame/api/ControllerUnitTest.java
  src/test/java/org/timinggame/api/ServiceUnitTest.java
  src/test/java/org/timinggame/api/fixture/RoomFixture.java
  src/test/java/org/timinggame/api/room/RoomControllerUnitTest.java
  src/test/java/org/timinggame/api/room/RoomServiceUnitTest.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
  src/test/java/org/timinggame/api/room/domain/RoomTest.java
  src/test/java/org/timinggame/api/room/service/impl/RoomServiceV1Test.java
  src/test/resources/application-test.yml
Labels: feature

#11 fix: naver-eclipse-formatter.xml로 기본 formatter를 지정한다
  build.gradle
  naver-eclipse-formatter.xml
  src/main/java/org/timinggame/api/ApiApplication.java
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/controller/response/CreateRoomRes.java
  src/main/java/org/timinggame/api/room/domain/Room.java
  src/main/java/org/timinggame/api/room/domain/RoomStatus.java
  src/main/java/org/timinggame/api/room/exception/NoRoomException.java
  src/main/java/org/timinggame/api/room/repository/RoomRepository.java
  src/main/java/org/timinggame/api/room/repository/impl/RoomRepositoryV1.java
  src/main/java/org/timinggame/api/room/service/RoomService.java
  src/main/java/org/timinggame/api/room/service/impl/RoomServiceV1.java
  src/test/java/org/timinggame/api/ApiApplicationTests.java
  src/test/java/org/timinggame/api/ControllerUnitTest.java
  src/test/java/org/timinggame/api/fixture/RoomFixture.java
  src/test/java/org/timinggame/api/room/RoomControllerUnitTest.java
  src/test/java/org/timinggame/api/room/RoomServiceUnitTest.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
  src/test/java/org/timinggame/api/room/domain/RoomTest.java
  src/test/java/org/timinggame/api/room/service/impl/RoomServiceV1Test.java
Labels: fix

#12 feat: 게임 PIN의 유효성을 검증한다
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/controller/response/EnterPinCodeRes.java
  src/main/java/org/timinggame/api/room/domain/Room.java
  src/main/java/org/timinggame/api/room/exception/AlreadyGameStartedException.java
  src/main/java/org/timinggame/api/room/exception/NoPinCodeException.java
  src/main/java/org/timinggame/api/room/exception/RoomExceededException.java
  src/main/java/org/timinggame/api/room/repository/PlayerRepository.java
  src/main/java/org/timinggame/api/room/repository/RoomRepository.java
  src/main/java/org/timinggame/api/room/repository/impl/PlayerRepositoryV1.java
  src/main/java/org/timinggame/api/room/repository/impl/RoomRepositoryV1.java
  src/main/java/org/timinggame/api/room/service/RoomService.java
  src/main/java/org/timinggame/api/room/service/impl/RoomServiceV1.java
  src/test/java/org/timinggame/api/room/RoomServiceUnitTest.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
  src/test/java/org/timinggame/api/room/service/impl/RoomServiceV1Test.java
Labels: feature

#18 fix: RoomControllerTest에서 불필요한 when절을 삭제한다
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
Labels: fix

#21 feat: 전역 예외 핸들러를 추가한다
  src/main/java/org/timinggame/api/common/exception/ExceptionRes.java
  src/main/java/org/timinggame/api/common/exception/GlobalExceptionHandler.java
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/exception/AlreadyGameStartedException.java
  src/main/java/org/timinggame/api/room/exception/NoPinCodeException.java
  src/main/java/org/timinggame/api/room/exception/NoRoomException.java
  src/main/java/org/timinggame/api/room/exception/RoomExceededException.java
  src/main/java/org/timinggame/api/room/exception/RoomException.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
Labels: feature

#23 feat: 게임이 끝나면 방 상태를 FINISHED로 변경하고 플레이어를 저장한다
  src/main/java/org/timinggame/api/player/domain/Player.java
  src/main/java/org/timinggame/api/player/repository/PlayerRepository.java
  src/main/java/org/timinggame/api/player/repository/impl/PlayerRepositoryV1.java
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/controller/response/FinishRoomRes.java
  src/main/java/org/timinggame/api/room/domain/Room.java
  src/main/java/org/timinggame/api/room/exception/AlreadyGameFinishedException.java
  src/main/java/org/timinggame/api/room/repository/PlayerRepository.java
  src/main/java/org/timinggame/api/room/repository/RoomRepository.java
  src/main/java/org/timinggame/api/room/repository/impl/PlayerRepositoryV1.java
  src/main/java/org/timinggame/api/room/repository/impl/RoomRepositoryV1.java
  src/main/java/org/timinggame/api/room/service/RoomService.java
  src/main/java/org/timinggame/api/room/service/impl/RoomServiceV1.java
  src/test/java/org/timinggame/api/fixture/RoomFixture.java
  src/test/java/org/timinggame/api/room/RoomServiceUnitTest.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
  src/test/java/org/timinggame/api/room/service/impl/RoomServiceV1Test.java
Labels: feature

#22 feat: mongodb 의존성을 추가한다
  build.gradle
  src/main/resources/application.yml
  src/test/java/org/timinggame/api/ApiApplicationTests.java
  src/test/java/org/timinggame/api/ControllerUnitTest.java
Labels: feature

#27 feat: 방 생성하기 기능을 추가한다
  build.gradle
  src/main/java/org/timinggame/api/common/config/RedisConfig.java
  src/main/java/org/timinggame/api/player/domain/PlayerDomain.java
  src/main/java/org/timinggame/api/room/controller/RoomController.java
  src/main/java/org/timinggame/api/room/controller/response/CreateRoomRes.java
  src/main/java/org/timinggame/api/room/domain/RoomDomain.java
  src/main/java/org/timinggame/api/room/repository/redis/RoomDao.java
  src/main/java/org/timinggame/api/room/repository/redis/RoomRedisRepository.java
  src/main/java/org/timinggame/api/room/service/RoomService.java
  src/main/java/org/timinggame/api/room/service/impl/RoomServiceV1.java
  src/main/java/org/timinggame/api/room/util/PinCodeAdvisor.java
  src/main/resources/application.yml
  src/test/java/org/timinggame/api/ApiApplicationTests.java
  src/test/java/org/timinggame/api/player/domain/PlayerDomainTest.java
  src/test/java/org/timinggame/api/room/RoomServiceUnitTest.java
  src/test/java/org/timinggame/api/room/controller/RoomControllerTest.java
  src/test/java/org/timinggame/api/room/domain/RoomDomainTest.java
  src/test/java/org/timinggame/api/room/service/impl/RoomServiceV1Test.java
  src/test/java/org/timinggame/api/room/util/PinCodeAdvisorTest.java
  src/test/resources/application-test.yml
Labels: feature
